<header>
    <img id="logo" src="img/tubeflix.png" alt="Logotipo Tubeflix">
    <nav>
        <ul id="navegacao">
            <li><a href="">Início</a></li>
            <li><a href="">Séries</a></li>
            <li><a href="">Filmes</a></li>
            <li><a href="">Cadastrar</a></li>
            <li><a href="">Aluno</a></li>
        </ul>
        <ul id="icones">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
        </ul>
    </nav>
</header>
