<script src="https://kit.fontawesome.com/71f92ea1b3.js" crossorigin="anonymous"></script>
<header>
    <img id="logo" src="img/tubeflix.png" alt="Logotipo Tubeflix">
    <nav>
        <section id="links">
            <div>
                <ul id="navegacao">
                    <li><a href="">Início</a></li>
                    <li><a href="">Cadastrar</a></li>
                    <li><a href="">Github</a></li>
                    <li><a href="">Linkedin</a></li>
                    <li><a href="">Aluno</a></li>
                </ul>
            </div>
            <div>
                <ul id="icones">
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="https://i.pinimg.com/originals/fb/8e/8a/fb8e8a96fca2f049334f312086a6e2f6.png" alt="">
                </ul>
            </div>
        </section>
    </nav>
</header>
