<header>
    <img src="img/tubeflix.png" alt="Logotipo Tubeflix">
    <nav>
        <article id="navegacao">
            <ul>
                <li><a href="">início</a></li>
                <li><a href="">séries</a></li>
                <li><a href="">filmes</a></li>
                <li><a href="">novidades</a></li>
                <li><a href="">minha lista</a></li>
            </ul>
        </article>
        <article id="icones">
            <ul>
                <img src="" alt="">
                <img src="" alt="">
                <img src="" alt="">
            </ul>
        </article>
    </nav>
</header>