<script src="https://kit.fontawesome.com/71f92ea1b3.js" crossorigin="anonymous"></script>
<header>
    <div id="links">
        <div id="logo">
            <img src="https://uploaddeimagens.com.br/images/003/861/053/full/tubeflix.png?1652132983" alt="Logotipo Tubeflix">
        </div>
        <div id="esquerdo">
            <ul id="navegacao">
                <strong><li><a href="/">Início</a></li></strong>
                <li><a href="/criar">Cadastrar</a></li>
                <li><a href="https://github.com/maycomorais" target="_blank">Github</a></li>
                <li><a href="https://www.linkedin.com/in/maycon-morais-99121a23/" target="_blank">Linkedin</a></li>
                <li><a href="https://blueedtech.com.br" target="_blank">Blue Edtech</a></li>
            </ul>
        </div>
        <div id="direito">
            <ul id="icones">
                <li><a href=""><img src="" alt=""></a></li>
                <li><a href=""><i class="fa-solid fa-bell fa-1x"></i></a></li>
                <li><a href=""><img src="https://i.pinimg.com/originals/fb/8e/8a/fb8e8a96fca2f049334f312086a6e2f6.png" alt=""></li></a>
            </ul>
        </div>
    </div>
</header>
