<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="https://tubeflix.com/images/tubeflix.png">
    <title> Criar </title>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <section id="form__container">
            <form method="post" action="/criar">
                <fieldset>
                    <legend> Criar Filme </legend>
                    <fieldset class="fieldset__data">
                        <input type="text" name="nome" required>
                        <label for="nome"> Filme </label>
                    </fieldset>

                    <fieldset class="fieldset__data">
                        <input type="text" name="diretor" required>
                        <label for="diretor"> Diretor </label>
                    </fieldset>

                    <fieldset class="fieldset__data">
                        <input type="url" name="img" required>
                        <label for="img"> Imagem </label>
                    </fieldset>

                    <fieldset class="fieldset__data">
                        <input type="number" name="duracao" required>
                        <label for="duracao"> Duração </label>
                    </fieldset>

                    <fieldset class="fieldset__data">
                        <input type="text" name="ano" required>
                        <label for="ano"> Ano de Lançamento </label>
                    </fieldset>

                    <fieldset class="fieldset__data">
                        <input type="text" name="genero" required>
                        <label for="genero"> Gênero (minúsculo) </label>
                    </fieldset>

                    <fieldset class="fieldset__data">
                        <input type="text" name="video" required>
                        <label for="video"> ID (Letras e números após o =) do Link YouTube </label>
                    </fieldset>
                    <div id="btn__container">
                        <button id="btn__submit" type="submit"> Enviar </button>
                    </div>
                </fieldset>
            </form>
        </section>
    </main>
    <%- include('./partials/footer.ejs') %>
    <% if (toggle) { %>
        <script>
            Swal.fire({
            icon: 'success',
            title: 'Sucesso!!!',
            text: 'Seu filme foi cadastrado!',
            timer: 5000
              })
              setInterval(() => {window.location.href = "/"}, 5000)
            </script>
    <% } %>   
</body>

</html>